<div class="prd-cart" *ngIf="cartDetails">
    <p-orderList  [value]="cartDetails" [listStyle]="{'height':'auto'}" header="Products In Cart" [dragdrop]="true">
        <ng-template let-product  pTemplate="item">
            <div class="product-item">
                <div>
                    <img src="{{product.productDetail.imageUrl}}" class="cart-prd-img">
                </div>
                <div class="product-list-detail">
                    <h5>{{product.productDetail.title}}</h5>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{product.productDetail.category}}</span>
                    <p-tag class="prd-price" severity="info" value="${{product.productDetail.price}}"></p-tag>
                    <p-tag  *ngIf="product.productDetail.quantity > 5" class="prd-price"  severity="success" value="More Available: {{product.productDetail.quantity}}"></p-tag>
                    <p-tag class="prd-price" *ngIf="product.productDetail.quantity === 0" severity="danger" value="More Available: {{product.productDetail.quantity}}"></p-tag>
                    <p-tag class="prd-price" *ngIf="product.productDetail.quantity <= 5 && product.productDetail.quantity > 0" severity="warning" value="More Available: {{product.productDetail.quantity}}"></p-tag>
                </div>
                <div class="product-list-action" class="cart-action">
                    <label class="cart-quantity-label" for="quantity">Quantity In Cart:</label>
                    <input type="number" class="cart-quantity" pInputText [(ngModel)]="product.productDetail.updatequantity" placeholder="Search">
                    <p-button label="Update" class="cart-quantity" (click)="updateProductquantity(product,product.productDetail.updatequantity)"></p-button>
                </div>
            </div>
        </ng-template>
    </p-orderList>
    <p-panel header="Order Summary:">
        <p-header>
        <p-tag class="order-summary" severity="info" value="${{orderAmount}}"></p-tag>
        <div class="checkout-button">
            <button pButton type="button"  label="Checkout"  (click)="placeOrder()"></button>
        </div>
        </p-header>
    </p-panel>
</div>
