<div>
<p-card header={{product.title}} subheader={{product.category}} [style]="{width: '360px'}" styleClass="p-card-shadow" (click)="productDetails()">
    <ng-template pTemplate="header">
        <img alt="Card" src={{product.imageUrl}}>
    </ng-template>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p> -->
    <ng-template pTemplate="footer" *ngIf="product.tags">
    <div class="prd-tag" *ngFor="let tag of product.tags">
        <p-tag  severity="info" value={{tag}}></p-tag>
    </div>
    </ng-template>
</p-card>
</div>