<p-panel class="user-login">
    <ng-template pTemplate="header">
        User Login Form
    </ng-template>
    <form #userForm="ngForm" (ngSubmit)="submit(userForm.value)">
   
        <div class="form-group">
            <span class="p-float-label">
                <input required minlength="3" maxlength="10" ngModel name="UserName" type="text" #UserName="ngModel" class="form-control" id="UserName" pInputText> 
                <label for="UserName">UserName</label>
                <div *ngIf="UserName.touched && !UserName.valid">
                    <div class="form-error" *ngIf="UserName.errors.required">UserName is required.</div>
                    <div class="form-error" *ngIf="UserName.errors.minlength">UserName is minimum {{ UserName.errors.minlength.requiredLength }} character.</div>
                    <div class="form-error" *ngIf="UserName.errors.maxlength">UserName is maximum 10 character.</div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input required minlength="8"  ngModel name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" #Password="ngModel" class="form-control" id="Password" pInputText> 
                <label for="Password">Password</label>
                <div *ngIf="Password.touched && !Password.valid">
                    <div class="form-error" *ngIf="Password.errors.required">Password is required.</div>
                    <div class="form-error" *ngIf="Password.errors.pattern">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div>
                </div>
            </span>
        </div>
        <div class="form-submit">
            <button pButton type="submit" label="Submit" [disabled]="!userForm.valid"></button>
        </div>
      </form>
</p-panel>
