<p-toast></p-toast>
<p-toolbar>
  <div class="p-toolbar-group-left">
      <input type="image" src="assets/online-shopping.svg" (click)="goHome()" class="app-logo">
      <label class="title-text">{{title}}</label>
  </div>
<div class="p-toolbar-group-right">
<div *ngIf="userName" class="user-text">
  <span class="toolbar-subtitle ">Welcome, {{userName}}</span>
</div>
<button *ngIf="!userName" pButton type="button" label="Log In" class="login-btn" (click)="login()"></button>
<div class="user-icon-container">
  <img class="user-pic" src="assets/user.svg">
</div>
<img class="shopping-cart" src="assets/shopping-cart.svg" pBadge value="{{cartCount}}" (click)="viewCart()">
<span pBadge value="{{cartCount}}"></span>
</div>
</p-toolbar>
<div class="main-container">
  <div class="router-wrapper router-wrapper-sm">
    <router-outlet></router-outlet>
  </div>
</div>
