<div *ngIf="categoryList">
    <app-search-product [categoryList]="categoryList" (categorySelected)="categorySelectedEvent($event)" (search)="searchProductEvent($event)"></app-search-product>
</div>
<br>
<br>
<div *ngIf="productList" [style]="{display: 'flex', 'flex-wrap': 'wrap'}">
    <div *ngFor="let product of productList">
        <app-products [product]="product"></app-products>
    </div>
</div>
