<div class="product-detail">
    <p-panel *ngIf="productDetails">
        <ng-template pTemplate="header">
            <p-header>
                {{productDetails.title}}
                <p-tag class="prd-price" severity="info" value="Price: ${{productDetails.price}}"></p-tag>
                <div class="prd-category">
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{productDetails.category}}</span>
                </div>
            </p-header>
            <p-tag  *ngIf="productDetails.quantity > 5" class="prd-quantity"  severity="success" value="Available: {{productDetails.quantity}}"></p-tag>
            <p-tag class="prd-quantity" *ngIf="productDetails.quantity === 0" severity="danger" value="Available: {{productDetails.quantity}}"></p-tag>
            <p-tag class="prd-quantity" *ngIf="productDetails.quantity <= 5 && productDetails.quantity > 0" severity="warning" value="Available: {{productDetails.quantity}}"></p-tag>
        </ng-template>
        <ng-template pTemplate="body">
            <div>
                <img class="prd-img" alt="Card" src={{productDetails.imageUrl}}>
            </div> 
            <div class="prd-description">
                {{productDetails.description}}
                <div class="prd-tag">
                    <div *ngFor="let tag of productDetails.tags">
                        <p-tag severity="info" value={{tag}}></p-tag>
                    </div>
                </div>
            </div>   
        </ng-template>
        <ng-template pTemplate="footer">
            <button *ngIf="!productDetails.inCartFlag" pButton type="button" label="Add to Cart" class="search-btn" (click)="addOrRemoveProduct()" [disabled]="productDetails.quantity === 0"></button>
            <button *ngIf="productDetails.inCartFlag" pButton type="button" label="Remove from Cart" class="search-btn" (click)="addOrRemoveProduct()" [disabled]="productDetails.quantity === 0"></button>
        </ng-template>
    </p-panel>
</div>
