<p-panel >
    <ng-template pTemplate="header">
        Order Shipment Form
    </ng-template>
    <form #checkoutForm="ngForm" (ngSubmit)="submit(checkoutForm.value)">
   
        <div class="form-group">
            <span class="p-float-label">
                <input required minlength="3" maxlength="15" ngModel name="Name" type="text" #Name="ngModel" class="form-control" id="Name" pInputText> 
                <label for="Name">Name</label>
                <div *ngIf="Name.touched && !Name.valid">
                    <div class="form-error" *ngIf="Name.errors.required">Name is required.</div>
                    <div class="form-error" *ngIf="Name.errors.minlength">Name is minimum {{ Name.errors.minlength.requiredLength }} character.</div>
                    <div class="form-error" *ngIf="Name.errors.maxlength">Name is maximum 15 character.</div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input required ngModel name="EmailId" type="email" #EmailId="ngModel" pattern="[^ @]*@[^ @]*" class="form-control" id="EmailId" pInputText> 
                <label for="EmailId">Email Id</label>
                <div *ngIf="EmailId.touched && !EmailId.valid">
                    <div class="form-error" *ngIf="EmailId.errors.required">EmailId is required.</div>
                    <div class="form-error" *ngIf="EmailId.errors.pattern">Email must contain at least the @ character</div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input required ngModel name="Phone" type="tel" #Phone="ngModel" pattern="[7-9]{1}[0-9]{9}" class="form-control" id="Phone" pInputText> 
                <label for="Phone">Phone Number</label>
                <div *ngIf="Phone.touched && !Phone.valid">
                    <div class="form-error" *ngIf="Phone.errors.required">Phone Number is required.</div>
                    <div class="form-error" *ngIf="Phone.errors.pattern">Phone Number must start with 7/8/9 and be of 10 digits</div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input required minlength="10" maxlength="50" ngModel name="Address" type="text" #Address="ngModel" class="form-control" id="Address" pInputText> 
                <label for="Address">Delivery Address</label>
                <div *ngIf="Address.touched && !Address.valid">
                    <div class="form-error" *ngIf="Address.errors.required">Delivery Address is required.</div>
                    <div class="form-error" *ngIf="Address.errors.minlength">Delivery Address is minimum {{ Name.errors.minlength.requiredLength }} character.</div>
                    <div class="form-error" *ngIf="Address.errors.maxlength">Delivery is maximum 15 character.</div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input required minlength="10" maxlength="50" ngModel name="Landmark" type="text" #Landmark="ngModel" class="form-control" id="Landmark" pInputText> 
                <label for="Landmark">Landmark</label>
                <div *ngIf="Landmark.touched && !Landmark.valid">
                    <div class="form-error" *ngIf="Landmark.errors.required">Landmark is required.</div>
                    <div class="form-error" *ngIf="Landmark.errors.minlength">Landmark is minimum {{ Landmark.errors.minlength.requiredLength }} character.</div>
                    <div class="form-error" *ngIf="Landmark.errors.maxlength">Landmark is maximum 15 character.</div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input required ngModel name="PinCode" type="number" #PinCode="ngModel" pattern="[1-9]{1}[0-9]{5}" class="form-control" id="PinCode" pInputText> 
                <label for="PinCode">Pincode</label>
                <div *ngIf="PinCode.touched && !PinCode.valid">
                    <div class="form-error" *ngIf="PinCode.errors.required">Pin Code is required.</div>
                    <div class="form-error" *ngIf="PinCode.errors.pattern">Pin Code must be of 6 digits</div>
                </div>
            </span>
        </div>
        <div class="form-submit">
            <button pButton type="submit" label="Submit" [disabled]="!checkoutForm.valid"></button>
        </div>
      </form>
</p-panel>
