input.ng-invalid.ng-touched  
{  
   border-color: red; 
   border-width: 0.2rem;
}

.p-orderlist .p-orderlist-controls {
    display: none;
}

label.title-text{
    font-size: 24px !important;
    padding-left: 4px;
    font-weight: 600;
  }
  .app-logo{
    width: 117.9px;
    height: 38.1px;
  }

  .p-toolbar {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 20px !important;
}
  .p-toolbar, .p-toolbar-group-left, .p-toolbar-group-right {
    padding-left: 2px !important;
}

.user-pic {
    width: 60px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
}
.shopping-cart {
    width: 60px;
    height: 35px;
    cursor: pointer;
}

.p-overlay-badge .p-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%,-100%) !important;
    transform-origin: 100% 0;
    margin: 0;
}
  button.login-btn.p-button.p-component {
    width: 90px !important;
    height: 40px !important;
    margin-right: 30px;
}

  .user-text {
    width: 250px !important;
    height: 24px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: right;
}

.main-container{
    height: 99%;
    display: flex;
    flex-direction: column;
    background-color: inherit;
  }

  .search-product {
    width: auto;
    height: 70px;
    /* text-align: inherit; */
    padding: 1rem;
    display: flex;
}

// .prd-category {
//     padding: 1rem;
//     .label {
//         font-size: 20px;
//         font-weight: 600;
//     }
// }
.categories {
    font-size: 18px;
    font-weight: 700;
}

.search {
    /* text-align: right !important; */
    margin-left: 78%;
    position: absolute;
}

.p-multiselect-label {
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
  }
  .p-multiselect .p-multiselect-label {
    padding: 7px !important;
  }

  .p-multiselect-item {
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
  }

  .p-multiselect {
      width: 200px !important;
      height: 40px;
  }
  
  .p-card {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
    padding: 20px;
    margin: 5px;
    height: 550px;
    cursor: pointer;
}
.p-card-header img {
    width: 100%;
    height: 300px;
}

.p-card .p-card-title {
    font-size: 18px !important;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.p-card .p-card-subtitle {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: #6c757d;
}

.p-card .p-card-content {
    padding: 1rem 0;
    display: none;
}

.p-card .p-card-footer {
    padding: 1rem 0 0 0;
    display: flex;
    margin: 3px;
}

.prd-tag {
    padding: 0.2rem;
}

.p-panel-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.product-detail {
    .prd-quantity {
     position: absolute;
     margin-left: 90%;  
     .p-tag-icon, .p-tag-icon.pi, .p-tag-value {
        line-height: 1.5;
        font-size: 16px;
    }
    }
    .prd-price {
        .p-tag-icon, .p-tag-icon.pi, .p-tag-value {
            line-height: 1.5;
            font-size: 16px;
            margin-left: 5px;
        }
    }
    .prd-category {
        margin-left: 2px;
        font-size: 16px;
        padding: 1rem;
    }
    .prd-img {
        width: 400px;
        height: 400px;
        padding: 20px;
        margin: 10px;
    }
    .prd-description {
        margin: 100px;
    }
    
}

.p-panel .p-panel-content {
    padding: 1rem;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    .prd-tag {
        display: flex;
        padding: 0.3rem;
        margin-top: 40px;
        .p-tag {
            padding: 0.5rem;
            margin: 5px;
            .p-tag-value {
                font-size: 14px;
            }
        }

    }
   
}

.p-orderlist .p-orderlist-header .p-orderlist-title {
    font-weight: 600;
    font-size: 20px;
}
.prd-cart {
    .prd-price {
        .p-tag-icon, .p-tag-icon.pi, .p-tag-value {
            line-height: 1.5;
            font-size: 16px;
        }
        .p-tag {
            margin-left: 20px;
        }
    }
    .cart-prd-img {
        display: inline-block;
    margin: 10px;
    width: 100px !important;
    }
    .p-panel .p-panel-content {
        padding: 1rem;
        border: 1px solid #dee2e6;
        background: #ffffff;
        color: #495057;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top: 0 none;
        display: none;
    }
}
.p-orderlist .p-orderlist-list .p-orderlist-item {
    padding: 0.5rem 1rem;
    margin: 0;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    margin: 20px;
}

.product-item .product-list-detail {
    flex: 1 1 0;
    margin: 20px;
    font-size: 20px;
}

// .product-item .product-list-action {
//     display: flex;
//     /* flex-direction: column; */
//     align-items: flex-end;
//     margin: 10px;
// }
.product-item[_ngcontent-nmy-c83] .product-list-action[_ngcontent-nmy-c83] {
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    // margin-bottom: 2px;
}

.cart-action {
    display: flex;
    flex-direction:row !important;

}
.order-summary {
    position: absolute;
    margin-left: -40%;
    .p-tag-icon, .p-tag-icon.pi, .p-tag-value {
        line-height: 1.5;
        font-size: 16px;
        margin: 3px;
    }
}

.checkout-button {
    /* position: absolute; */
    margin-left: 585%;
    position: relative;
}
.cart-quantity {
    margin-right: 5px
}
.cart-quantity-label {
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}

.user-login {
    margin: 20px;
}
.form-group {
    margin: 40px;
}
.form-error {
    font-size: 16px;
    color: red;
}

.p-float-label {
    display: initial !important;
    position: relative;
}

.form-submit {
    margin: 40px;
}