<div class="search-product">
  <div class="prd-category">
    <label class="categories" for="productCategory">Product Categories:</label>
    <p-multiSelect [options]="productCategoryValues" name="productCategory" [(ngModel)]="selectedProductCategory"
      (onPanelHide)="onCategoryChange()" (maxSelectedLabels)="2" selectedItemsLabel="{0} items selected" placeholder="All Categories"></p-multiSelect>
  </div>
  <div class="search">
    <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search based on Title">
    <p-button label="Search" icon="pi pi-search" iconPos="left" (click)="searchProduct()"></p-button>
  </div>
</div>